.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
# don't commit zero installs
# !.yarn/sdks
# don't lock versions-- this isn't a prod app
yarn.lock
!.yarn/versions

# Swap the comments on the following lines if you wish to use zero-installs
# In that case, don't forget to run `yarn config set enableGlobalCache false`!
# Documentation here: https://yarnpkg.com/features/caching#zero-installs

#!.yarn/cache
.pnp.*
